<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Christmas Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
        font-size: 24px;
      }
      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }
      *,
      ::before,
      ::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <table
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="width: 100%; border-collapse: collapse"
    >
      <tbody>
        <tr>
          <td align="center">
            <table
              align="center"
              border="0"
              cellspacing="0"
              cellpadding="0"
              style="
                width: 800px;
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                border-width: 0;
              "
            >
              <tbody>
                <tr>
                  <td style="height: 80px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="text-align: center; padding-bottom: 20px">
                    <a href="https://www.youland.com" target="_blank">
                      <img
                        src="https://d286fx9lm3ae7t.cloudfront.net/images/logo_new.png"
                        width="210px"
                        alt="logo"
                        title="logo"
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      text-align: center;
                      color: #1134E3;
                      font-family: Roboto, Helvetica, Arial, sans-serif;
                      padding-bottom: 10px;
                    "
                  >
                    Making mortgages accessible to all.
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center">
                    <a
                      href="https://www.youland.com"
                      target="_blank"
                      style="
                        color: #1134E3;
                        font-family: Roboto, Helvetica, Arial, sans-serif;
                        text-decoration: underline;
                      "
                      >www.youland.com</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <table
                      align="center"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="
                        border-collapse: collapse;
                        border: 0px !important;
                        margin: 0px !important;
                        padding: 0px !important;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            height="40"
                            style="
                              border-collapse: collapse;
                              color: rgb(41, 43, 41);
                              font-size: 1px;
                              line-height: 1px;
                            "
                          >
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      height: 154px;
                      text-align: center;
                      background-color: #1d3328;
                      font-size: 50px;
                      color: #ffffff;
                      font-family: Roboto, Helvetica, Arial, sans-serif;
                    "
                  >
                    <b th:text="'Hello '+${name}+','"></b>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table
                      align="center"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="
                        border-collapse: collapse;
                        border: 0px !important;
                        margin: 0px !important;
                        padding: 0px !important;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            height="20"
                            style="
                              border-collapse: collapse;
                              font-size: 1px;
                              line-height: 1px;
                            "
                          >
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="background: #a6201f; color: #0b255b; width: 100%"
                    >
                      <tbody>
                        <tr>
                          <td style="padding: 60px 60px 0 60px">
                            <table
                              align="center"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              style="
                                border-collapse: collapse;
                                border: 0px !important;
                                margin: 0px !important;
                                padding: 0px !important;
                                width: 100%;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <img
                                      src="https://d286fx9lm3ae7t.cloudfront.net/images/logo_new_white.png"
                                      width="230"
                                      height="45"
                                      alt="logo"
                                    />
                                  </td>
                                  <td style="width: 50%" align="right">
                                    <p
                                      style="
                                        font-size: 40px;
                                        line-height: 1.2;
                                        font-family: Roboto, Helvetica, Arial,
                                          sans-serif;
                                        color: #ead0af;
                                      "
                                    >
                                      <b>Bridge Loan</b>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="right">
                            <p
                              style="
                                font-size: 20px;
                                line-height: 1.5;
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                color: #ead0af;
                                padding: 10px 60px 40px 0;
                              "
                            >
                              <b>Don't let time or money slow you down.</b>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <img
                              src="https://d286fx9lm3ae7t.cloudfront.net/images/chrismas_theme.gif"
                              height="750"
                              width="800"
                              alt="Holiday Special Rate Starting at 9.99%,Broker Special Lender Pointer 1% only!"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: center; height: 69px">
                            <a
                              class="h5-normal"
                              href="https://www.youland.com/bridge/"
                              target="_blank"
                              style="
                                padding: 20px 60px;
                                color: #efd6ad;
                                background-color: #1d3328;
                                text-decoration: none;
                              "
                            >
                              Learn More
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 80px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="padding: 0 24px 0 24px">
                            <table
                              align="center"
                              cellpadding="0"
                              cellspacing="0"
                              style="
                                border-collapse: collapse;
                                border: 4px dashed #1d3328;
                                margin: 0px !important;
                                padding: 0px !important;
                                width: 100%;
                                background: #ffffff;
                                color: #1d3329;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td align="center">
                                    <p
                                      style="
                                        font-size: 24px;
                                        line-height: 1.5;
                                        font-family: Roboto, Helvetica, Arial,
                                          sans-serif;
                                        text-align: center;
                                        padding: 60px 90px 60px 90px;
                                      "
                                    >
                                      <b
                                        >Quick closing, No docs, No PPP, What
                                        are you waiting for?
                                      </b>
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table
                                      align="center"
                                      cellpadding="0"
                                      cellspacing="0"
                                      style="
                                        border-collapse: collapse;
                                        margin: 0px !important;
                                        padding: 0px !important;
                                        width: 100%;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            style="
                                              width: 55%;
                                              border-right: 2px solid #1d3328;
                                            "
                                          >
                                            <table
                                              align="center"
                                              cellpadding="0"
                                              cellspacing="0"
                                              style="
                                                border-collapse: collapse;
                                                margin: 0px !important;
                                                padding: 0px !important;
                                                width: 100%;
                                              "
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 30px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                      padding-bottom: 20px;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>Allowed</b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>
                                                      Close in 7 business days
                                                      or faster
                                                    </b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>Up to 70% LTV</b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>Minimum FICO:640</b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>
                                                      Minimum loan amount
                                                      $150,000
                                                    </b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>
                                                      Maximum loan amount
                                                      $3,000,000
                                                    </b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>
                                                      3-24 months (No Prepayment
                                                      Penalty)
                                                    </b>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td>
                                            <table
                                              align="center"
                                              cellpadding="0"
                                              cellspacing="0"
                                              style="
                                                border-collapse: collapse;
                                                margin: 0px !important;
                                                padding: 0px !important;
                                                width: 100%;
                                              "
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 30px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                      /* padding-bottom: 60px; */
                                                    "
                                                    align="center"
                                                  >
                                                    <b>Not needed</b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td>&nbsp;</td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b> Income </b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>DTI</b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b>Employment</b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    style="
                                                      font-size: 18px;
                                                      color: #1d3328;
                                                      line-height: 1.5;
                                                    "
                                                    align="center"
                                                  >
                                                    <b> DSCR </b>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td>&nbsp;</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="height: 60px">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td style="text-align: center; height: 69px">
                                    <a
                                      href="https://www.youland.com/bridge/rate/"
                                      target="_blank"
                                      style="
                                        padding: 20px 60px;
                                        background-color: #1d3328;
                                        color: #efd6ad;
                                        font-family: Roboto, Helvetica, Arial,
                                          sans-serif;
                                        text-decoration: none;
                                      "
                                      >Check Your Rate Now</a
                                    >
                                  </td>
                                </tr>
                                <tr>
                                  <td style="height: 48px">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <table
                              align="center"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              style="
                                border-collapse: collapse;
                                border: 0px !important;
                                margin: 0px !important;
                                padding: 0px !important;
                                background-color: #e5f1fd;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    height="0"
                                    style="
                                      border-collapse: collapse;
                                      color: rgb(41, 43, 41);
                                      font-size: 1px;
                                      line-height: 1px;
                                      height: 80px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table
                      align="center"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="
                        border-collapse: collapse;
                        border: 0px !important;
                        margin: 0px !important;
                        padding: 0px !important;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            height="20"
                            style="
                              border-collapse: collapse;
                              color: rgb(41, 43, 41);
                              font-size: 1px;
                              line-height: 1px;
                            "
                          >
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <table
                      style="background: #1d3328; width: 100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                    >
                      <tbody>
                        <tr>
                          <td style="height: 80px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      href=" https://twitter.com/YouLand_Inc"
                                      target="_blank"
                                    >
                                      <img
                                        src="https://d286fx9lm3ae7t.cloudfront.net/images/twitter.png"
                                        width="32px"
                                        height="32px"
                                        title="twitter"
                                        alt="twitter"
                                      />
                                    </a>
                                  </td>
                                  <td
                                    style="
                                      width: 20px;
                                      line-height: 0px;
                                      font-size: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                  <td>
                                    <a
                                      href="https://www.youtube.com/channel/UCUWshfzmbqWktFMaHwyw5Uw"
                                      target="_blank"
                                    >
                                      <img
                                        src="https://d286fx9lm3ae7t.cloudfront.net/images/youtube.png"
                                        alt="youtube"
                                        width="32px"
                                        height="32px"
                                        title="youtube"
                                      />
                                    </a>
                                  </td>
                                  <td
                                    style="
                                      width: 20px;
                                      line-height: 0px;
                                      font-size: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                  <td>
                                    <a
                                      href="https://www.facebook.com/YouLand-984516721727740"
                                      target="_blank"
                                    >
                                      <img
                                        src="https://d286fx9lm3ae7t.cloudfront.net/images/facebook.png"
                                        alt="facebook"
                                        width="32px"
                                        height="32px"
                                        title="facebook"
                                      />
                                    </a>
                                  </td>
                                  <td
                                    style="
                                      width: 20px;
                                      line-height: 0px;
                                      font-size: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                  <td>
                                    <a
                                      href="https://www.linkedin.com/company/youland"
                                      target="_blank"
                                    >
                                      <img
                                        src="https://d286fx9lm3ae7t.cloudfront.net/images/LinkedIn.png"
                                        alt="linkedin"
                                        width="32px"
                                        height="32px"
                                        title="linkedin"
                                      />
                                    </a>
                                  </td>
                                  <td
                                    style="
                                      width: 20px;
                                      line-height: 0px;
                                      font-size: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                  <td>
                                    <a
                                      href="https://www.zillow.com/lender-profile/youlandinc/"
                                      target="_blank"
                                    >
                                      <img
                                        src="https://d286fx9lm3ae7t.cloudfront.net/images/zillow.png"
                                        alt="zillow"
                                        width="32px"
                                        height="32px"
                                        title="zillow"
                                      />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 40px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <p
                              style="
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                text-align: center;
                                color: #e0e4e8;
                                font-size: 18px;
                                margin: 0;
                              "
                              th:text="'Call : '+${phone}+' | '+${email}">
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 10px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <p
                              style="
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                font-size: 14px;
                                text-align: center;
                                color: #e0e4e8;
                                font-weight: 100;
                                margin: 0;
                              "
                            >
                              NMLS ID 2090196
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 40px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td
                            align="center"
                            style="border-bottom: 80px solid transparent"
                          >
                            <a
                              style="
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                font-size: 14px;
                                text-align: center;
                                color: #e0e4e8;
                                font-weight: 100;
                                text-decoration: underline;
                              "
                              href="https://www.youland.com/email-unsubscribe"
                              >Unsubscribe</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
